.cache/
.gnupg/
.local/
.oh-my-zsh/
.pki/
.ssh/
.vim/
Downloads/
.viminfo
.zcompdump-archlinux-5.9.2
.zcompdump-archlinux-5.9.2.zwc
.zsh_history
.gitconfig
.config/dconf/
.config/discord/
.config/gh/
.config/hypr/hyprd/colors.lua
.config/lazygit/
.config/micro/
.config/pulse/
.config/waybar/matugen-waybar.css
.config/wofi/colors.css
.config/yazi/theme.toml
.config/yay/
.config/yt-x/
.config/zen/
.config/znt/
.config/dolphinrc
.config/mimeapps.list
.config/pavucontrol.ini
.wallpaper/wall_history_back.txt
.wallpaper/wall_history_front.txt



